<section class="container criar-pensamentos ff-inter">
  <header class="header"></header>
  <form [formGroup]="formulario">
    <label for="pensamento">Thoughts</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      formControlName="conteudo"
      placeholder="What are you thinking now?"
    />
    <div
      class="mensagem__erro"
      *ngIf="
        formulario.get('conteudo')?.errors &&
        formulario.get('conteudo')?.touched
      "
    >
      Thought is mandatory!
    </div>
    <label for="autoria">Author</label>
    <input
      type="text"
      class="input"
      id="autoria"
      formControlName="autoria"
      placeholder="Yourself? Someone else?"
    />
    <div
      class="mensagem__erro"
      *ngIf="formulario.get('autoria')?.errors?.['minusculo'] && formulario.get('autoria')?.touched"
    >
      This field only accepts lowercase letters
    </div>
    <div
      class="mensagem__erro"
      *ngIf="formulario.get('autoria')?.errors?.['required'] && formulario.get('autoria')?.touched"
    >
      Author is mandatory!
    </div>
    <div
      class="mensagem__erro"
      *ngIf="formulario.get('conteudo')?.errors?.['minlength'] && formulario.get('autoria')?.touched"
    >
      Author needs to have at least 3 characters!
    </div>
    <label for="modelo">Choose your style</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 1</span>
        </label>
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/images/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ formulario.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 2</span>
        </label>

        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/images/modelo2.png"
            alt="Aspas azul claro"
          />
          <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ formulario.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 3</span>
        </label>

        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/images/modelo3.png" alt="Aspas verdes" />
          <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ formulario.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        [disabled]="!formulario.valid"
        (click)="criarPensamento()"
        [ngClass]="habilitarBotao()"
        class="botao"
      >
        Publish
      </button>
      <button
        (click)="cancelarPensamento()"
        routerLink="/listarPensamento"
        class="botao"
      >
        Cancelar
      </button>
    </div>
  </form>
</section>
