<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">🙏🏼 Your wall</h2>
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="What are you looking for?"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="pesquisarPensamentos()"
      />
    </div>
    <button routerLink="/criarPensamento" class="botao">Add your ideas</button>
  </header>
  <div class="mural" *ngIf="listaPensamentos.length > 0; else semPensamentos">
    <div *ngFor="let pensamento of listaPensamentos">
      <app-pensamento [pensamento]="pensamento"></app-pensamento>
    </div>
  </div>
</section>
<app-botao-carregar-mais
  [haMaisPensamentos]="haMaisPensamentos"
  (click)="carregarMaisPensamentos()"
>
</app-botao-carregar-mais>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>No thoughts registered yet!</p>
  </div>
</ng-template>
